/* * {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgb(115, 93, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 300px;
}

.contentliner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Main Splash Page CSS Here */

.contentliner p {
  padding: 20px;
}

.contentliner input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contentliner button {
  background-color: #b9a3d3;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.welcome h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.splashcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signinsplash {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 20px;
}

/* Create Postcard Page CSS Here */

.cardholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postcard {
  width: 300px;
  height: 200px;
  margin: 10px;
}

/* View Postcard Page CSS Here */

.viewpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.finishedpost {
  padding: 20px;
}

/* Signup Page CSS Here */

.signupbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
